<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Логин в магазин DreamLand</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div class="container">
<th:block th:insert="~{_template :: header}"/>
    <form class="form" name="f" action="perform_login" th:href="perform_login" method="post">
        <div th:if="${param.error}">
            <div class="item">Invalid user name or password!</div>
        </div>
        <table>
            <tr>
                <td>User:</td>
                <td><input type="text" name="username" value=""/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="submit"/></td>
            </tr>
        </table>
    </form>
    <hr>
    <form class="form" th:action="@{/createUser}" method="get">
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>

<th:block th:insert="~{_template :: footer}"/>
</body>
</html>